@charset "UTF-8";
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
    font: inherit;
}

body {
    min-height: 100vh;
    background-color: #100817;
    color: #f3f3f3;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(80deg, #6D4C3D 0%, #A39171 20%, #727D71 80%, #6D4C3D 100%);
}

.container {
    max-width: 1280px;
    margin-inline: auto;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    padding: 5px;
    border: 1px solid black;
    background: rgb(80, 59, 99);
    color: whitesmoke;
    cursor: pointer;
    margin-block: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -0.025em;
}
